<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="help-buoy" color='light'></ion-icon>
      <ion-card-title>Praying</ion-card-title>
      <ion-card-subtitle color='light'>A Prayer to Heal Stress</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Praying can help you to release your emotions. Tell God what you feel, it will calm you or it can help you to motivate yourself.
      <br><br>
      "Do not be anxious about anything, but in everything by prayer and supplication with thanksgiving let your requests be made known to God."
      <br><br>
      The Good News:
      <br>
      If you use prayer as a means for comfort, God will provide you with peace of mind.
    </ion-card-content>
  </ion-card>
</ion-content>
