<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="paw" color='light'></ion-icon>
      <ion-card-title>Playing with your Pet</ion-card-title>
      <ion-card-subtitle color='light'>Bond with your pet</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Interacting with animals has been shown to decrease levels of cortisol (a stress-related hormone) 
      and lower blood pressure. Other studies have found that animals can reduce loneliness, increase
       feelings of social support, and boost your mood.
      <br><br>
      Pets, especially dogs and cats, can reduce stress, anxiety, and depression, ease loneliness, encourage 
      exercise and playfulness, and even 
      improve your mood. So start playing with your pets, enjoy your time with them.
    </ion-card-content>
  </ion-card>
</ion-content>
