<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="rainy" color='light'></ion-icon>
      <ion-card-title>Taking a Shower</ion-card-title>
      <ion-card-subtitle color='light'>Refresh your body and soul</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This is a perfect selfcare when you experiencing stress or anxiety. Bathing can improved your mental health.
       It's also form of meditation or serve as a healthy break from your daily busy schedule.
      <br><br>
      Taking a warm shower can reduce symptoms of depression and anxiety. The body's reaction to being
       warm naturally relaxes your muscles and thoughs.Once you step out of the shower into your cool room,
        your temperature will rapidly drop. According to a studies, this drop causes you to relax and can put
         you into a deep sleep.
      <br><br>
      Try to take a cold or warm shower after your busy day.
    </ion-card-content>
  </ion-card>
</ion-content>
