<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="bed" color='light'></ion-icon>
      <ion-card-title>Taking a Nap</ion-card-title>
      <ion-card-subtitle color='light'>Try to take a nap</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Napping isn’t just for babies. Studies show that an afternoon nap is great for adults, too.
       There’s no need to feel lazy for indulging in daytime sleep. A short nap in the mid-afternoon can boost memory,
        improve job performance, lift your mood, make you more alert, and ease stress.
      <br><br>
      If you’re feeling down, try taking a nap to lift your spirits. Napping, or even just resting for
       an hour without falling asleep, can brighten your outlook. Experts say relaxation that comes from
        lying down and resting is a mood booster, whether you fall asleep or not.
    </ion-card-content>
  </ion-card>
</ion-content>
