<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food" color='light'></ion-icon>
      <ion-card-title>Eating your comfort Food</ion-card-title>
      <ion-card-subtitle color='light'>Eat healthy food</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Foods can help tame stress in several ways. Comfort foods, like a bowl of warm oatmeal, 
      boost levels of serotonin, a calming brain chemical. Eating a healthy diet can reduce the negative effects of stress on your body.
      <br><br>
      Foods that are promoted on the Mediterranean diet are the same foods that are good to eat when
       you’re stressed: fish, poultry, fruits, vegetables, fruits, whole grains, and healthy fats.
      <br>
      Don't over eat.
    </ion-card-content>
  </ion-card>
</ion-content>
