img {
  max-width: 50px;
  border: 0;
}

h1 {
  font-size: 20px;
}

ion-content {
  ion-col {
    text-align: center;

    ion-icon {
      zoom: 3.8;
      padding: 5px;

      &:first-child {
        zoom: 3.8;
        padding: 10px;
      }
    }

    h1 {
      text-align: justify;
      font-size: 18px;
      font-style: bold;
      text-transform: uppercase;
    }
  }
}
