<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="book" color='light'></ion-icon>
      <ion-card-title>Reading a Book</ion-card-title>
      <ion-card-subtitle color='light'>6 minutes per day</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Studies have shown that reading as little as 6 minutes per day can improve your quality of sleep,
       reduce stress, and sharpen mental acuity. Reading strengthens the neural circuits and pathways of
        our brain while lowering heart rate and blood pressure.
      <br><br>
      Reading allows you to escape your own mind and live another life for a short time. You can travel,
       fall in love, go on adventures, and overcome great adversity from the comfort of your living room.
        This imaginative escape can be a healthy way to distract yourself from the stress of daily life.
      <br><br>
      If you’d like to try reading more often, choose books that are of interest to you. It is important to
       choose something you enjoy that won’t trigger anxiety or overwhelming sadness.
    </ion-card-content>
  </ion-card>
</ion-content>
