<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="body" color='light'></ion-icon>
      <ion-card-title>Meditating</ion-card-title>
      <ion-card-subtitle color='light'>Meditate for just 10 minutes a day</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      To begin meditating, find a place where you can sit comfortably and quietly.
       Then close your eyes and do nothing for a minute or so. Thoughts may come during that time, and that is okay.
      <br><br>
      Meditate every morning and every evening for 15-30 minutes. It is best to meditate before you eat.
       Try to meditate in a quiet place but if you do not have a quiet place to meditate that is okay.
        Noise is not a barrier to meditating.
    </ion-card-content>
  </ion-card>
</ion-content>
