ion-slide {
    padding: 60px 20px 2px 20px;
    display: block;
    img {
    width: 300px;
    }
    h2 {
    font-size: 20px;
    font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}
    