<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="color-palette" color='light'></ion-icon>
      <ion-card-title>Painting</ion-card-title>
      <ion-card-subtitle color='light'>Paint what you feel</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The art of painting has been around as long as humans have been. Creating art boosts self-esteem
       and provides a sense of accomplishment. It produces dopamine, which makes people feel good, increases 
       drive, and improves concentration. When you finish a creative project, you feel a boost of dopamine that
        gives you a sense of accomplishment.
      <br><br>
      Painting is considered a great way to improve your well-being. It enables you to manage and regulate
       emotions, well as handle psychological distress. Tons of therapists and psychiatrists even employ
        painting activities in their treatments. Mental health researcher Dorien Eising found that painting
         alleviates anxiety, depression, and stress.
    </ion-card-content>
  </ion-card>
</ion-content>
