<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="cafe" color='light'></ion-icon>
      <ion-card-title>Drinking Coffee</ion-card-title>
      <ion-card-subtitle color='light'>Take a cup of coffee</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Caffeine is known to inhibit receptors in the brain for the chemical adenosine. The researchers
       found that these receptors also control the negative effects of chronic stress and that stress-induced
        behaviour can be reversed by blocking the receptors.
      <br><br>
      Drink your morning coffee or during your busy day, this can be your source of energy,
       soothe and focus your mind.
      <br><br>
      Reminder:
      <br>
      Don't drink too much coffee, you can drink 1-2 cup a day.
    </ion-card-content>
  </ion-card>
</ion-content>
