<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="call" color='light'></ion-icon>
      <ion-card-title>Talking to someone</ion-card-title>
      <ion-card-subtitle color='light'>Connect</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Talking about your problems can release pent-up feelings. It is important to find ways to express your 
      feelings. This can help you to release built-up tensions and make better decisions. An important 
      first step is deciding who you want to talk to. You need to feel that you can trust the person you 
      are talking to.
      <br><br>
      Whatever you're going through, find someone to talk to. Your GP (doctor) Counsellor (for example, 
      at your school or work).
    </ion-card-content>
  </ion-card>
</ion-content>
