<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="partly-sunny" color='light'></ion-icon>
      <ion-card-title>Watching a Sunset</ion-card-title>
      <ion-card-subtitle color='light'>Enjoy the Nature</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Research shows that sunsets have many psychological effects that enhance the long-lasting
       satisfaction of in life and physical benefits and have been proven to relieve stress. So next time
        you're having a rough day, drive to your favorite spot and watch your worries fade away. It will put
         you in a better mood.
      <br><br>
      Earth gives us this free gift every single day of our lives. Get out there and accept this bountiful, enchanting present!
    </ion-card-content>
  </ion-card>
</ion-content>
