<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="musical-note" color='light'></ion-icon>
      <ion-card-title>Playing an Instrument</ion-card-title>
      <ion-card-subtitle color='light'>Learn an Instrument</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      We know that playing instrument is enjoyable, relaxing, and symbolic. But it can benefits your mind also,
       you can be creative. You express your feelings by making a song base on what you feel or story that you
        want share.
      <br><br>
      Playing an intrument will reduce your anxiety and stress. It can help your mind to rest for a bit,
       by exploring intrument you will enjoy your day even if it's a good day or bad day.
    </ion-card-content>
  </ion-card>
</ion-content>
