<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block">
        <img src="assets/images/logo.png" />
      </ion-button>
    </ion-buttons>
    <h1>Care-ing</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-padding">
    <ion-label position="floating">How are you feeling today?</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <form [formGroup]="goalForm" (ngSubmit)="onSave()">
    <ion-item class="ion-padding">
      <ion-label position="floating">Goal of the day</ion-label>
      <ion-input type="text" formControlName="goal"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-button type="submit" shape="round" expand="block">Save Goal</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
