<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="barbell" color='light'></ion-icon>
      <ion-card-title>Exercising your Body and Mind</ion-card-title>
      <ion-card-subtitle color='light'>10 - 30mins</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Exercise is not just about aerobic capacity and muscle size. Sure, exercise can improve 
      your physical health and your physique. But that’s not what motivates most people to stay active.
      <br><br>
      Exercise is a powerful depression fighter for several reasons. Most importantly, it promotes all 
      kinds of changes in the brain, including neural growth, reduced inflammation, and new activity patterns that 
      promote feelings of calm and well-being.
      <br><br>
      Regular exercise can have a profoundly positive impact on depression, anxiety, and ADHD. It also relieves 
      stress, improves memory, helps you sleep better, and boosts your overall mood. And you don’t have to be a 
      fitness fanatic to reap the benefits.
    </ion-card-content>
  </ion-card>
</ion-content>
