<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="headset" color='light'></ion-icon>
      <ion-card-title>Listening to music</ion-card-title>
      <ion-card-subtitle color='light'>Listen to relaxing Music</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Music is a common therapy or a meditate activity that you know, but it's a common enough
       to help elevate your mood and motivates you. Studies have shown that music can buoy your mood
        and fend off depression. It can also improve blood flow in ways similar to statins, lower your levels
         of stress-related hormones like cortisol and ease pain.
      <br><br>
      Play relaxing music like (nature sounds, lullaby, intsrument, ambient music, and etc). Listen
       to music that will calm you and help you to escape foggy thinking. Sit back, and Enjoy!
    </ion-card-content>
  </ion-card>
</ion-content>
