<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="journal">
      <ion-icon name="book"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <ion-icon name="heart-half"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
        
  </ion-tab-bar>
</ion-tabs>